<template>
    <div>
        <div class="title">Attack on Titan</div>
        <div class="healthbar">
            <div class="healthbar-box">
                <div class="healthbar-box__name">Your health</div>
                <div class="healthbar-box__label">
                    <div    class="healthbar-box__label current"
                            :style="{width: myHealth + '%'}">
                        {{myHealth}}
                    </div>
                </div>
            </div>
            <div class="healthbar-box">
                <div class="healthbar-box__name">Titan's health</div>
                <div class="healthbar-box__label">
                    <div    class="healthbar-box__label current"
                            :style="{width: titanHealth + '%'}">
                        {{titanHealth}}
                    </div>
                </div>
            </div>
        </div>
        <sw-button  v-if="!inGame"
                    @click="startPlayingHandler()"
                    title="Here we go again"></sw-button>
        <div class="playground"
             v-if="inGame">
            <sw-button @click="attackHandler()"
                       title="Attack"
                       :padding= 5
                       :maxWidth= 100 />
            <sw-button @click="specialAttackHandler()"
                       title="Special Attack"
                       :padding= 5
                       :maxWidth= 100 />
            <sw-button @click="healHandler()"
                       title="Heal"
                       :padding= 5
                       :maxWidth= 100 />
            <sw-button @click="inGame = false"
                       title="Give up"
                       :padding= 5
                       :maxWidth= 100 />
        </div>
        <transition name="fade">
            <div    class="game-result"
                    v-if="status">
                <span v-if="win"> You </span>
                <span v-else> Titan </span>
                win!
                <div class="game-result__abuse"
                     v-show="count>3">Don't play too much!</div>
            </div>
        </transition>
        <div class="history" v-if="inGame">
            <div    class="history-breakpoint"
                    v-for="(move, index) in moves"
                    :class="{'player': move.player, 'titan': !move.player, 'opacity': index > 1}">
                {{move.info}}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Bookmark",
        data: () => ({
            myHealth: 100,
            titanHealth: 100,
            inGame: false,
            moves: [],
            status: false,
            win: false,
            count: 0,
        }),
        methods: {
            startPlayingHandler() {
                this.myHealth = 100;
                this.titanHealth = 100;
                this.inGame = true;
                this.moves = [];
                this.status = false;
                this.count ++;
            },
            attackHandler() {
                let damage = this.calculateDamage(10,20);
                this.titanHealth -= damage;
                this.moves.unshift({
                    player: true,
                    info: 'You hit Titan for ' + damage
                });
                if (this.checkWin()) {
                    return;
                }
                this.titanAttackHandler();
            },
            specialAttackHandler() {
                let damage = this.calculateDamage(0,30);
                this.titanHealth -= damage;
                this.moves.unshift({
                    player: true,
                    info: 'You hit hard Titan for ' + damage
                });
                if (this.checkWin()) {
                    return;
                }
                this.titanAttackHandler();
            },
            calculateDamage(min, max) {
                return Math.max(Math.floor(Math.random() * max) +1, min)
            },
            titanAttackHandler() {
                let damage = this.calculateDamage(15, 30);
                this.myHealth -= damage;
                this.moves.unshift({
                    player: false,
                    info: 'Titan punch u for ' + damage
                });
                this.checkWin();
            },
            healHandler() {
                if (this.myHealth <= 80) {
                    this.myHealth += 20;
                }
                else this.myHealth = 100;
                this.moves.unshift({
                    player: true,
                    info: 'You heal for 20'
                });
                this.titanAttackHandler();
            },
            checkWin() {
                if (this.titanHealth <= 0) {
                    this.inGame = false;
                    this.status = true;
                    this.win = true;
                    return true;
                }
                else if (this.myHealth <= 0) {
                    this.inGame = false;
                    this.status = true;
                    this.win = false;
                    return false;
                }
            }
        }
    }
</script>

<style scoped lang="scss">
.title {
    font-size: 18px;
    font-weight: bold;
}
.healthbar {
    display: flex;
    justify-content: space-around;
    &-box {
        &__label {
            width: 150px;
            height: 20px;
            border: 1px solid #fffdc3;
            border-radius: 4px;
            background-color: gray;
            margin: 0;
            transition: width 500ms;
        }
    }
}
.game-result {
    padding: 20px 0 5px 0;
    & span {
        font-weight: bold;
        font-size: 18px;
    }
    &__abuse {
        font-size: 12px;
        color: #202322;
    }
}
.starter {
    max-width: 300px;
    margin: auto;
}
.playground {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.current {
    background-color: green;
    margin: 0;
    color: white;
    border: none;
}
.history {
    height: 300px;
    overflow-y: auto;
    &-breakpoint {
        font-weight: bold;
        margin: 5px;
    }
}
.player {
    background-color: #57800a;
    color: #fffdc3;
}
.titan {
    background-color: #db4c64;
    color: darkred;
}
.opacity {
    opacity: .4;
}
.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    transition: opacity .7s;
}
.fade-leave-active {
    transition: opacity .5s;
    opacity: 0;
}
</style>
