<template>
    <div class="post-wrap">
        <div class="post-wrap-field">
            <p>In case of need new post (in localStorage)</p>
        </div>
        <div class="post-wrap-field">
            <sw-input title="Any thoughts" v-model="postArray[0].title"/>
        </div>
        <div class="post-wrap-field">
            <textarea rows="3" cols="50"
                      placeholder="A little bit more thoughts"
                      v-model="postArray[0].description">
            </textarea>
        </div>
        <div class="post-wrap-field" v-if="ifEmpty">
            <p>Empty post is also post!</p>
        </div>
        <div class="post-wrap-field">
            <sw-button title="post" @click="AddingNewPostHandler()"></sw-button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                ifEmpty: false,
                timeout: 0,
                postArray: [
                    {
                        title: '',
                        description: '',
                        likes: 76
                    }
                ],
                data: [
                    {
                        title: 'Who are you and why you’re standing here?',
                        description: 'It doesn\'t matter if you\'re building the next Facebook, or if you\'re the director of marketing for an industrial company.',
                        likes: 76
                    }
                ]
            }
        },
        methods: {
            AddingNewPostHandler() {
                let dataFromStorage = JSON.parse(localStorage.getItem('posts'));
                let merged = [];
                merged = this.postArray.concat(dataFromStorage);
                localStorage.setItem('posts', JSON.stringify(merged));
                if (this.postArray[0].title === '' && this.postArray[0].description === '') {
                    // i also could disable it, empty post still post ☺
                    this.ifEmpty = true;
                    this.timeout = 300;
                }
                window.setTimeout(() => {
                    this.$router.push('news');
                }, this.timeout)
            }
        },
        created() {
            if (!localStorage.getItem('posts')) {
                localStorage.setItem('posts', JSON.stringify(this.data));
            }
        }
    }
</script>

<style scoped lang="scss">
.post-wrap {
  &-field {
      margin: 15px auto;
      position: relative;
      box-sizing: border-box;
      & p {
          font-size: 18px;
      }
      & textarea {
          width: 85%;
          max-width: 400px;
          margin: 0 auto;
          padding: 5px 5px 3px 10px;
          font-size: 16px;
          box-sizing: border-box;
          display: block;
          border: solid 1px #ccc;
          border-radius: 4px;
          resize: none;
          &::-webkit-input-placeholder {
              text-align: center;
              padding: 10px;
          }
      }
  }
}
</style>

