<template>
    <div class="profile-wrap">
        <NewPost/>
    </div>
</template>

<script>
import NewPost from './NewPost.vue'
    export default {
        name: "Profile",
        components: {
            NewPost
        }
    }
</script>

<style scoped lang="scss">

</style>

