<template>
    <button @click="$emit('click')"
            :style="{
                'max-width': maxWidth + 'px',
                'padding': padding + 5 + 'px' + ' ' + padding + 'px'
            }">
        {{title}}
    </button>
</template>

<script>
    export default {
        name: "Button",
        props: {
            title: {
                type: String,
                default: ''
            },
            maxWidth: {
                type: Number,
                default: 300
            },
            padding: {
                type: Number,
                default: 10
            }
        }
    }
</script>

<style scoped lang="scss">
button {
    cursor: pointer;
    width: 80%;
    margin: 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;
    &:hover {
      color: #FD51D9;
      border: 1px solid #FD51D9;
      }
    &:focus {
        outline: 0;
    }
}
</style>