<template>
    <div>
        <input      @input="updateValue($event.target.value)"
                    required="required"
        />
        <label>{{title}}</label>
    </div>
</template>

<script>
    export default {
        name: "Input",
        props: {
            title: {
                type: String,
                default: ''
            },
            name: {
                type: String,
            },
        },
        methods: {
            updateValue(value) {
                this.$emit('input', value);
            }
        }
    }
</script>

<style scoped>
div {
    position: relative;
}
input {
    width: 85%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 0 3px 10px;
    font-size: 16px;
    box-sizing: border-box;
    display: block;
    height: 30px;
    border: solid 1px #ccc;
    border-radius: 4px;
}
label {
      color: dimgray;
      width: 100%;
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 0;
      top: 4px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
}
input:focus ~ label, input:valid ~ label {
      top: 0;
      font-size: 8px;
}
</style>
