<template>
    <div class="header-wrap">
        <div class="header-wrap__title"> {{getHeaderTitle($route.path)}}</div>
        <div class="header-wrap__icon">
            <img :src="getHeaderImage($route.path)"/>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Headers.vue",
        data() {
            return {
            }
        },
        methods: {
            getHeaderTitle(title) {
                return title.charAt(1).toUpperCase() + title.slice(2);
            },
            getHeaderImage(name) {
                return require('../assets/footer' + name + '.png');
            }
        }
    }
</script>

<style scoped lang="scss">
.header-wrap {
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
    font-size: 18px;
    box-sizing: border-box;
    align-items: center;
    &__title {
        padding-right: 10px;
    }
}
</style>
