<template>
    <div class="info-wrap">
        <div class="info-wrap-income-box">
            <div class="info-wrap-income-box__sum">+${{income}}</div>
        </div>
        <div class="info-wrap-spent-box">
            <div class="info-wrap-spent-box__sum">-${{totalSpent}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "BalanceInfo",
        props: {
            income: Number,
            totalSpent: Number,
        },
    }
</script>

<style scoped lang="scss">
    .info-wrap {
        display: flex;
        font-size: 28px;
        justify-content: space-around;
        & div {
            padding: 5px 10px;
        }
        &-income-box {
            border: 1px solid #0B78E3;
        }
        &-spent-box {
            border: 1px solid #FF2366;
        }
    }
</style>
