<template>
    <div class="donut-block"> {{Start()}}
        <vc-donut
                background="#161823" foreground="#0E0F1A"
                :size="200" unit="px" :thickness="30"
                legend-placement="top"
                :sections="sections" :total="100"
                :start-angle="0"
                @section-click="handleSectionClick"
        >
            <div class="balance-info">
                <div class="balance-info__amount">
                    ${{balance}}
                </div>
                <div class="balance-info__name">
                    balance
                </div>
            </div>
        </vc-donut>
        <div class="donut-part-info" v-if="value">
            <div class="donut-part-info__amount">
                ${{value}}
            </div>
            <div class="donut-part-info__label">
                {{label}}
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            forFood: Number,
            forClothes: Number,
            forOther: Number,
            income: Number
        },
        data() {
            return {
                sections: [
                    { label: 'Food', value: 0, color: 'green' },
                    { label: 'Clothes', value: 0, color: 'red' },
                    { label: 'Other', value: 0, color: 'brown' }
                ],
                label: '',
                value: '',
                balance: ''
            };
        },
        methods: {
            handleSectionClick(section) {
                this.label = `${section.label}`;
                switch (this.label) {
                    case ('Food'):
                        this.value = this.forFood;
                        break;
                    case ('Other'):
                        this.value = this.forOther;
                        break;
                    default:
                        this.value = this.forClothes;
                        break;
                }
            },
            getPercent(value) {
                return parseInt((value *100 / this.income).toFixed());
            },
            Start () {
                this.balance = (this.income - this.forFood - this.forOther - this.forClothes).toFixed(2);
                this.sections[0].value = this.getPercent(this.forFood);
                this.sections[1].value = this.getPercent(this.forClothes);
                this.sections[2].value = this.getPercent(this.forOther);

            }
        },
    };
</script>

<style lang="scss" scoped>
.donut-block{
    padding: 40px 0;
}
.balance-info {
    &__amount {
        font-size: 28px;
    }
    &__name {
        font-size: 12px;
        color: gray;
    }
}
.donut-part-info {
    margin: 30px 0;
    &__amount {
            font-size: 18px;
    }
    &__label {
        font-size: 12px;
        color: gray;
    }

}
</style>

