<template>
    <div class="statistic-wrapper" v-if="data">
        <div class="statistic-wrapper-months"
             v-dragscroll
        >
            <div    class="statistic-wrapper-months__name"
                    v-for="value in data"
                    @click="getMonthHandler(value)"
                    :class="{selectedBorder: selectedMonth === value.id }"
            >{{value.month}}</div>

        </div>
        <donut
            :forFood="forFood"
            :forClothes="forClothes"
            :forOther="forOther"
            :income="income"
        />
        <BalanceInfo
                :income="income"
                :totalSpent="totalSpent"
        />
    </div>
</template>

<script>
import DB from '../../db.json'
import Donut from './Donut'
import BalanceInfo from './BalanceInfo'

import { dragscroll } from 'vue-dragscroll'
    export default {
        name: "Statistics",
        directives: {
            'dragscroll': dragscroll
        },
        components: {
            Donut,
            BalanceInfo
        },
        data() {
          return {
              selectedMonth: "7",
              info: {
                  "id": "7",
                  "month": "July",
                  "income": 2000,
                  "waste": [
                      {
                          "id": 0,
                          "category": "food",
                          "spent": 500.07
                      },
                      {
                          "id": 1,
                          "category": "clothes",
                          "spent": 400
                      },
                      {
                          "id":2,
                          "category": "other",
                          "spent": 800
                      }
                  ]
              },
              forFood: 500.07,
              forClothes: 400,
              forOther: 800,
              income: 2000,
              totalSpent: 1700.07,
          }
        },
        created: function() {
            this.data = DB.statistics;
            localStorage.setItem('stattistisc', JSON.stringify(this.data));
        },
        methods: {
            getMonthHandler(data) {
                this.selectedMonth = data.id;
                this.forFood = data.waste[0].spent;
                this.forClothes = data.waste[1].spent;
                this.forOther = data.waste[2].spent;
                if  (data.income !== '') {
                    this.income = data.income;
                    this.totalSpent = this.forFood +  this.forClothes + this.forOther;
                }
            }
        }

    }
</script>

<style scoped lang="scss">
.statistic-wrapper {
    &-months {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        background-color: #0E0F1A;
        &__name {
            padding: 15px 15px;
            border-bottom: 2px solid transparent;
            cursor: pointer;
            color: lightgray;
        }
    }
}
.selectedBorder {
    color: white;
    border-bottom: 2px solid #0B78E3;
}
</style>
