<template>
    <div class="author-wrap">
        <div><span>By </span>  Nochalas O`Brian</div>
        <div> 28 July</div>
    </div>
</template>

<script>
    export default {
        name: "Author"
    }
</script>

<style scoped lang="scss">
.author-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
    font-size: 16px;
    font-weight: bold;
    & span {
        font-weight: normal;
    }
}
</style>
