<template>
    <div class="likes-wrap">
        <div class="likes-wrap__friends-icon">
            <img src="../../assets/person.png">
            <img src="../../assets/person.png">
        </div>
        <div class="likes-wrap__amount"
             v-bind:class="{liked: liked}"
             @click="likeHandler()">+ {{likes}}</div>
        <div>Liked this</div>
    </div>
</template>

<script>
    export default {
        name: "Likes",
        props: {
            likes: Number,
        },
        data() {
            return {
                liked: false,
            }
        },
        methods: {
            likeHandler() {
                this.liked===false? this.likes++ : this.likes--;
                this.liked=!this.liked;
            }
        }
    }
</script>

<style scoped lang="scss">
.likes-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 20px 15px;
    font-size: 14px;
    color: rgba(255,255,255, .3);
    &__friends-icon img{
        height: 25px;
        border-radius: 50%;
        margin-right: 10px;
    }
    &__amount {
        color: #fff;
        border: 1px solid #FD51D9;
        padding: 7px 9px;
        border-radius: 30px;
        margin-right: 10px;
        cursor: pointer;
        transition: .5s;
    }

}
.liked {
    background-color: #FD51D9;
}
</style>
