<template>
    <div class="news-wrap">
        <template v-for="data in posts">
            <post
                    :title="data.title"
                    :description="data.description"
            />
            <div class="divider"></div>
            <author />
            <likes :likes="data.likes"/>
        </template>
    </div>
</template>

<script>
import Post from './Post.vue'
import Author from './Author.vue'
import Likes from './Likes.vue'
    export default {
        name: "News",
        components: {
            Post,
            Author,
            Likes
        },
        data() {
            return {
                posts: JSON.parse(localStorage.getItem('posts'))
            }
        }
    }
</script>

<style scoped>
.news-wrap {
    height: 640px;
    overflow-y: auto;
}
.divider {
    margin: 20px 15px;
    height: 1px;
    background-color: rgba(255,255,255, .3);
}
</style>
