<template>
        <div class="post-wrap"
             :style="{ backgroundImage: 'url(' + imageURL + ')' }">
            <div class="post-wrap-block">
                <div class="post-wrap-block__title">
                    {{title}}
                </div>
                <div class="post-wrap-block__desc">
                    {{description}}
                </div>
            </div>
        </div>
</template>
<script>
    export default {
        props: {
            title: String,
            description: String,
        },
        data() {
            return {
                imageURL: require('../../assets/post.png'),
            }
        }
    }
</script>

<style scoped lang="scss">
.post-wrap {
    background-repeat: no-repeat;
    background-position: bottom;
    height: 452px;
    text-align: left;
    position: relative;
    &-block {
        padding: 0 10px 0 15px;
        position: absolute;
        bottom: 15px;
        &__title{
            font-size: 40px;
        }
        &__desc{
            font-size: 18px;

        }
    }
}
</style>
