<template>
  <div id="app">
    <back-button v-if="$route.path !== '/profile' && $route.path !== '/'"/>
    <template v-if="$route.path !== '/news'">
      <headers/>
    </template>
    <router-view class="main-content"></router-view>
    <footer-navigation/>
  </div>
</template>

<script>
import FooterNavigation from './hoc/Footer.vue'
import BackButton from './hoc/BackButton.vue'
import Headers from './hoc/Headers.vue'
export default {
  name: 'app',
  components: {
    FooterNavigation,
    BackButton,
    Headers
  }
}
</script>

<style>
  body {
    margin: 0;
  }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #161823;
  color: #fff;
}
.main-content {
  min-height: 550px;
}
</style>
